<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!--@Autowired, @Resource, @Aualifier 사용시 아래 설정 추가-->
	<context:annotation-config />
	
	<!--@Autowired 어노테이션을 이용한 의존관계 자동 설정-->
	<bean id="monitor" class="kr.spring.ch16.SystemMonitor">
		<property name="periodTime">
			<value>70</value>
		</property>
	</bean>
	<bean id="sender" class="kr.spring.ch16.SmsSender" />
	
	<bean id="systemMonitor" class="kr.spring.ch17.SystemMonitor2" />
	<bean id="redcorder1" class="kr.spring.ch17.Recorder" >
		<qualifier value="main" />
	</bean>
	<bean id="redcorder2" class="kr.spring.ch17.Recorder" />
	
	<!--@Resource 어노테이션을 이용한 자동 설정 (빈 객체의 이름과 프로퍼티명이 일치하면 의존관계 설정)-->
	<bean id="homeController" class="kr.spring.ch18.HomeController" />
	<bean id="camera1" class="kr.spring.ch18.Camera" p:number="1" />
</beans>

